html {
    background: url(../images/forest_background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-backgound-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-color: rgba(92, 92, 92, 0.5);
    background-blend-mode: multiply;
}

body {
    background: none;
    background-color: transparent;
}

#main-body {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: rgba(163, 4, 4, 0.7);
    background-blend-mode: multiply;
}

/* Title */

#main-body h1 {
    text-align: center;
    font-family: 'Pokemon';
    font-weight: 800;
    font-size: 6rem;
    color: yellow;
}

/* Word being guessed */

#main-body h2{
    font-family: 'Droid Sans Mono';
    font-size: 5rem;
    letter-spacing: 1.5rem;
}

/* Incorrect letters */

#main-body h3 {
    text-align: left;
    font-family: 'Droid Sans Mono';
    font-size: 4rem;
    letter-spacing: 3rem;
    line-height: 6rem;
    margin: 0 0 0 30px;
}

/* All other text */

#main-body h4 {
    font-size: 2rem;
}

#instructions-text {
    min-height: 76px;
}

#main-body .card {
    background-color: rgba(94, 3, 3, 0.8);
}

#word-image {
    margin: 30px;
    max-height: 300px;
    width: auto;
}

#play-again-btn {
    margin: 5px;
    font-size: 1.5rem;
    visibility: hidden;
}

.incorrect-card {
    min-height: 216px;
}

/* Custom font */

@font-face {
    font-family: 'Pokemon';
    src: url(../fonts/Pokemon-Hollow.ttf);
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url(../fonts/DroidSansMono.ttf);
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* Title */

    #main-body h1 {
        font-size: 5rem;
    }

    /* Word being guessed */

    #main-body h2 {
        font-size: 4rem;
    }

    #main-body h3 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Title */

    #main-body h1 {
        font-size: 3.5rem;
    }

    /* Word being guessed */

    #main-body h2 {
        font-size: 3rem;
    }

    /* Incorrect letters */

    #main-body h3 {
        font-size: 2rem;
        line-height: 4rem;
    }

    #word-image {
        max-height: 200px;
    }
}

@media screen and (max-width: 768px) {
    /* Title */

    #main-body h1 {
        font-size: 2rem;
    }

    /* Word being guessed */

    #main-body h2 {
        font-size: 1rem;
        letter-spacing: 1rem;
    }

    /* Incorrect letters */

    #main-body h3 {
        font-size: 1rem;
        letter-spacing: 1.5rem;
        line-height: 4rem;
    }

    /* All other text */

    #main-body h4 {
        font-size: 1rem;
    }
    
    #instructions-text {
        min-height: 38px;
    }

    #word-image {
        max-height: 150px;
    }

    #play-again-btn {
        font-size: 1rem;
    }
}